@import './react-google-recaptcha-v3.css' layer(base);

@import 'tailwindcss';
@import './custom-scrollbar.css';
@plugin "../tailwind-plugins/hocus";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='range']::-webkit-slider-thumb {
    pointer-events: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-pj-red;

    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-color: transparent transparent;
  }

  .custom-scrollbar:hover {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
    transition: background-color 0.3s;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: red;
  }
}
@theme {
  --font-strada:
    var(--font-strada), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-gabriela:
    var(--font-strada), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-pj-red: #e04141;
  --color-pj-red-light: #f8d7da;
  --color-pj-red-medium: #721c24;
  --color-pj-gray-lightest: #eeeded;
  --color-pj-gray-medium: #565656;
  --color-pj-gray-light: #6a6a6b;
  --color-pj-gray: #414242;
  --color-pj-blue: #1d7ed8;
  --color-pj-blue-medium: #393f4e;
  --color-pj-green-lightest: #d4edda;
  --color-pj-green-light: #155724;
  --color-pj-green-medium: #4caf50;
  --color-black: #000000;
  --color-pj-brown: #434141;
  --color-pj-brown-medium: #92400e;
  --color-pj-orange: #f07272;
  --color-pj-orange-medium: #f59e0b;
  --color-pj-yellow-light: #fff8f0;
  --color-pj-yellow-medium: #fed7ab;
  --color-pj-yellow-dark: #fef3c7;
  --color-pj-blue-dark: #052863;
  --color-pj-input-focus: #0b0b0b;
  --color-pj-input: #bdbdbd;

  --ease-pj-easing: cubic-bezier(0.5, 1.25, 0.75, 1);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-indeterminate-bar: indeterminate-bar 1.5s
    cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite normal none running;
  --animate-marquee: marquee 30s linear infinite;
  --animate-fade-in: fadeIn 300ms ease forwards;
  --animate-fade-out: fadeOut 300ms ease-in forwards;
  --animate-collapsible-down: collapsible-down 0.2s
    cubic-bezier(0.5, 1.25, 0.75, 1);
  --animate-collapsible-up: collapsible-up 0.2s cubic-bezier(0.5, 1.25, 0.75, 1);
  
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes indeterminate-bar {
    from {
      transform: translateX(-50%) scaleX(0.2);
    }
    to {
      transform: translateX(100%) scaleX(1);
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(8px);
    }
  }
}
